:root {
    --primary: #f5f7fa;
    --secondary: #24445c;
    --accent: #f28c28;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary);
}

header {
    background-color: #4f6d7a;
    color: var(--primary);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: var(--secondary);
    text-align: center;
    padding: 15px;
}

nav a {
    color: var(--primary);
    text-decoration: none;
    margin: 15px;
}

main {
    width: 80%;
    margin: 30px auto;
    background-color: var(--primary);
    padding: 20px;
}

section {
    background-color: #e8f1f2;
    margin-bottom: 20px;
    padding: 20px;
}

.cta {
 
background-color: var(--accent);
color:#f5f7fa;
padding: 10px;
 
}

footer {
    background-color: var(--secondary);
    color: white;
    text-align: center;
    padding: 15px;
}